* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Rubik-Regular;
  src: url("fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: Rubik-Medium;
  src: url("fonts/Rubik-Medium.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --mainColor: #e6007a;
  --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --blueColor: #007aff;
  --upColor: #57be42;
  --downColor: #e6007a;
  --greyColor: #8a8a8f;
  --paleGrey: #efeff4;
  --whiteOp: rgba(255, 255, 255, 0.3);
  --blackOp: rgba(0, 0, 0, 0.1);
  --border: 1px solid var(--paleGrey);
  --px48: 48px;
  --maxWidth: 900px;
  --familyRegular: Rubik-Regular, -apple-system, Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Source Han Sans SC", "Microsoft YaHei", Heiti, SimSun, sans-serif;
  --familyMedium: Rubik-Medium, -apple-system, Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Source Han Sans SC", "Microsoft YaHei", Heiti, SimSun, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  height: 100%;
  min-width: 760px;
  overflow-y: hidden;
  font: 400 14px/16px var(--familyRegular);
}

#app,
.heightAll {
  height: 100%;
}

ul,
li {
  list-style: none;
}

span,
img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

label,
i {
  font-style: normal;
}


/* 表单 */

button,
select,
input,
textarea,
input:focus,
textarea:focus {
  margin: 0;
  outline: none;
  resize: none;
  box-shadow: none;
  /*去掉ios阴影*/
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

select,
input,
textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  border: none;
}

button {
  background: transparent;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c8c7cc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c8c7cc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c8c7cc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c8c7cc;
}

.mr-6 {
  margin-right: 6px;
}

.color-grey {
  color: var(--greyColor)!important;
}

.color-up {
  color: var(--upColor)!important;
}

.color-down {
  color: var(--downColor)!important;
}

.bg-orange {
  background: #ff8600 !important;
}

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.text-right {
  text-align: right!important;
}

.container {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 80px 24px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-border {
  padding: 24px;
  border: var(--border);
  border-radius: 4px;
}

.title {
  font: bold 24px/32px var(--familyMedium);
  padding-bottom: 24px;
  border-bottom: var(--border);
}

.title img {
  margin-right: 16px;
}

h1 {
  font: bold 32px/1.5 var(--familyMedium);
  margin-top: 24px;
}

h1 span {
  font-size: 16px;
  margin-left: 8px;
}

h4 {
  font: bold 16px/1.5 var(--familyMedium);
  margin-bottom: 8px;
}

.view-all {
  font: bold 16px/1.5 var(--familyMedium);
  color: var(--mainColor);
  margin-top: 4px;
}

.null {
  padding: 80px 32px;
  text-align: center;
  color: var(--greyColor)
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-container+section {
  overflow-x: hidden;
  height: 100%;
}


/*header*/

header {
  overflow-x: hidden;
  padding: 20px 48px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.search-box {
  position: relative;
  float: left;
}

.search {
  border-radius: 2px;
  border: var(--border);
  background: url(../img/icon/search.png)no-repeat 8px center/16px;
  padding: 8px 24px 8px 32px;
  width: 188px;
  font-size: 12px;
  line-height: 14px;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 9px;
  cursor: pointer;
}

.labels {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.labels li {
  margin-left: 24px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 0;
  color: #000;
  text-transform: capitalize;
  cursor: pointer;
}

.labels li.active {
  color: var(--mainColor);
}


/*dapp-info*/

.main {
  padding: 16px 36px;
  height: calc(100vh - 72px);
  overflow-x: hidden;
}

.dapp-list {
  display: flex;
  flex-wrap: wrap;
}

.dapp-list>li {
  padding: 24px;
  width: 448px;
  position: relative;
  cursor: pointer;
}

.dapp-info>img {
  float: left;
  width: 72px;
  height: 72px;
  border-radius: 2px;
  margin-right: 24px;
}

.dapp-text {
  overflow: hidden;
}

.dapp-title {
  font: bold 16px/24px var(--familyMedium);
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}

.contact img {
  margin-right: 4px;
  margin-bottom: 4px;
  width: 24px;
  cursor: pointer;
}

.dapp-shortdes {
  font-size: 12px;
  line-height: 16px;
  color: var(--greyColor);
  margin-top: 12px;
  word-break: break-word;
}

.dapp-slogan {
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dapp-type {
  color: var(--greyColor);
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

.dapp-type label {
  margin-right: 8px;
}

.load-all {
  text-align: center;
  padding: 20px;
  margin: 20px 0;
}

.load-all span {
  position: relative;
  color: var(--greyColor);
  font-size: 12px;
  line-height: 16px;
  padding: 0 16px;
}

.load-all span:after,
.load-all span:before {
  content: '';
  position: absolute;
  top: 0;
  width: 160px;
  border-bottom: var(--border);
  height: 8px;
}

.load-all span:before {
  left: 0;
  transform: translateX(-100%);
}

.load-all span:after {
  right: 0;
  transform: translateX(100%);
}

.goTop {
  position: fixed;
  right: 32px;
  bottom: 32px;
  cursor: pointer;
}

.noSearchResult {
  padding: 24px 12px;
  color: var(--greyColor);
  font-size: 14px;
  line-height: 1.5;
}

.border-top {
  padding: var(--px48) 0;
  border-top: var(--border);
}

.basic-group {
  position: relative;
}

.table-responsive {
  width: 100%;
  overflow: auto hidden;
}

.table-responsive table {
  width: 100%;
  text-align: left;
}

th {
  padding: 16px 24px 16px 0;
  border-bottom: var(--border);
  color: var(--greyColor);
  font: 400 12px/16px var(--familyRegular);
  white-space: nowrap;
}

td {
  padding: 18px 16px 14px 0;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  max-width: 96px;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 400 16px/1.5 var(--familyRegular);
}

td:first-child {
  min-width: unset;
}

table h6 {
  font: 400 12px/16px var(--familyRegular);
}

table td:last-child,
th:last-child {
  padding-right: 0;
  text-align: right;
}

table .flex-align-center img {
  margin-right: 16px;
}

.select-kline-type {
  display: flex;
}

.select-kline-type li {
  cursor: pointer;
  margin-right: 24px;
  color: var(--greyColor);
  font: bold 12px/16px var(--familyMedium);
  padding-bottom: 6px;
}

.select-kline-type .active {
  border-bottom: 2px solid var(--mainColor);
  color: var(--mainColor)
}

@media(max-width: 768px) {
   :root {
    --px48: 24px;
  }
  body {
    min-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 48px;
  }
  .container {
    padding: 16px 16px 34px 16px;
  }
  .hidden-xs {
    display: none!important;
  }
  h1 {
    font-size: 20px;
  }
  h1 span {
    font-size: 14px;
  }
  h4,
  td,
  .view-all {
    font-size: 14px;
  }
  .title {
    font-size: 16px;
    line-height: 1.5;
  }
  header {
    padding: 0;
    box-shadow: none;
  }
  .search-box {
    float: none;
    padding: 12px 16px 0 16px;
  }
  .search {
    width: 100%;
  }
  .close-btn {
    right: 24px;
    top: 20px;
  }
  .labels {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .labels li {
    margin: 0;
    white-space: nowrap;
    padding: 16px 12px;
  }
  .labels li:first-of-type {
    padding-left: 16px;
  }
  .labels li:last-of-type {
    padding-right: 16px;
  }
  .main {
    padding: 0;
    height: calc(100vh - 140px);
  }
  .dapp-list>li {
    padding: 12px 16px;
    width: 100%;
  }
  .dapp-info>img {
    left: 16px;
    top: 12px;
    border-radius: 16px;
  }
  .dapp-slogan {
    display: block;
    white-space: nowrap;
  }
  .dapp-type {
    left: 88px;
    bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    right: 0;
  }
  .load-all {
    padding-top: 0;
  }
  .load-all span:after,
  .load-all span:before {
    width: 100px;
  }
}